// IMPORTS

@import "./variables.scss";

// CONFIGURATION MENU ANIMATIONS
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

// I'm not using so many classes becasue there is no need to style individual elements so often in this project


// CONFIGURATION MENU STYLES
.configMenu{
    text-align: center;
    margin-top: 10px;
    button{
        border: 1px solid #000000;
        border-radius: 30px;
        background-color: #fff;
        padding: 15px;
        margin: 10px;
        font-size: 1.1rem;
        transition: .2s ease;
        animation: appear .5s ease-in;
        &:hover{
            background-color: $baseColor;
            transform: scale(1.1);
        }
    }
    h2{
        color: darken($baseColor, 10%);
    }
}
