// IMPORTS

@import "./variables.scss";

// PREVIEWWINDOW STYLES

.previewWindow-carData{
    list-style: none;
    margin: auto;
    text-align: center;
    padding: 0;
    li{
        margin: 15px;
        &:last-child{
            font-style: italic;
        }
        h3{
            display: inline;
        }
    }
}

.previewWindow-car{
    margin: auto;
    text-align: center;
}

.previewWindow-carIcon{
    text-align: center;
    font-size: 8rem;
    transition: .3s ease-in;
    padding: 15px;
    border: 2px solid $baseColor;
    border-radius: 30px;
}