// IMPORTS

@import "./variables.scss";

// PREVIEW WINDOW ANIMATIONS

@keyframes displayIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


// PREVIEW WINDOW STYLES

.previewWindow-carData{
    list-style: none;
    margin: auto;
    text-align: center;
    padding: 0;
    li{
        margin: 10px;
        font-size: 0.9rem;
        font-weight: 100;
        animation: displayIn .5s ease-in;
        &:last-child{
            font-style: italic;
        }
        h3{
            display: inline;
            color: $textColor;
        }
    }
}

.previewWindow-car{
    margin: auto;
    text-align: center;
}

.previewWindow-carIcon{
    background-color: $baseColor;
    text-align: center;
    font-size: 6rem;
    transition: .3s ease-in;
    padding: 15px;
    border: 2px solid $baseColor;
    border-radius: 30px;
    animation: displayIn .3s ease-in;
}